@import '@/styles/globals';

.cardWrapper {
  margin-top: $heavy-margin;
  margin-bottom: $heavy-margin;
  background-color: $secondary-color;
  border-color: $primary-color;
  border-radius: 1em;
  min-width: 700px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.centeredImage {
  margin: 0 auto;
}

.centeredImage {
  margin: 0 auto;
}

.titleBox {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.cardTitle {
  color: $primary-color;
  margin-right: 12px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
