.cardWrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #dabcaf;
  border-color: #e25822;
  border-radius: 1em;
  min-width: 800px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
