@import '@/styles/globals';

.cardWrapper {
  margin-top: $heavy-margin;
  margin-bottom: $heavy-margin;
  background-color: $secondary-color;
  border-color: $primary-color;
  border-radius: 1em;
  min-width: 800px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
