.editToppingsWrapper {
  width: 200px;
  max-width: 240px;
  margin-top: 1rem;
}

.cardContainer {
  margin-top: 2rem;
  width: 216px;
  max-width: 216px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.toppingText {
  font-size: 12px;
}

.smallButton {
  padding: 0.25rem 0.5rem;
  font-size: 12px;
}

.noToppings {
  text-align: center;
}
