.editToppingsWrapper {
  width: 200px;
  max-width: 240px;
  margin-top: $common-margin;
}

.cardContainer {
  margin-top: $heavy-margin;
  width: 216px;
  max-width: 216px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.toppingText {
  font-size: $common-font;
}

.smallButton {
  padding: 0.25rem 0.5rem;
  font-size: $common-font;
}

.noToppings {
  text-align: center;
}
