@import '@/styles/globals';

.cardWrapper {
  margin-top: $heavy-margin;
  margin-bottom: $heavy-margin;
  background-color: $secondary-color;
  border-color: $primary-color;
  border-radius: 1em;
  min-width: 800px;
}

.cardTitle {
  color: $primary-color;
  text-align: center;
  margin-bottom: $heavy-margin;
}

.toppingsContainer {
  width: 100%;
  margin-top: $common-margin;
}

.editToppingsWrapper {
  width: 200px;
  max-width: 240px;
  margin-top: $common-margin;
}

.noToppings {
  text-align: center;
}
