.editContainer {
  min-height: 1800px;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.buttomSection {
  margin-bottom: 10rem;
}
